@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.pets {
    margin-top: 150px;
    width: 100%;
}

.pets .h1 {
    font-size: 4rem;
    text-decoration: underline;
    color: #333333;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 9999;
    width: 100%;
}

header nav .botao-entrar {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(45, 45, 197);
    padding: 10px 25px;
    border-radius: 15px;
    color: #fff;
    transition: 1s;
}

header nav .botao-entrar:hover {
    background-color: rgb(103, 68, 255);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 50px;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding: 0;
}

header nav ul li a{
    text-decoration: none;
    color: #333;
    transition: 1s;
}
header nav ul li a:hover{
    opacity: 50%;
}

header nav ul li img {
    width: 70px;
}


.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
  }

.lista-de-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    width: 98%;
}

.lista-de-imagens.row {
    margin: 0 auto;
}

.pet{
    margin: 10px 10px;
    border-radius: 50px;
    width: 400px;
    position: relative;
    height: 300px;
    display: flex;
    border-radius: 50px;
    background: #00000075;
    background-size: cover;
    background-position: center;
    background-image: var(--imagem-fundo);
    transition: 1s;
}

.pet:hover {
    height: 500px;
    transition: 1s;
}

.oculto {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.oculto p {
    width: 350px;
    word-wrap: break-word;
}

.pet:hover .oculto {
    opacity: 1;
    visibility: visible;
    transition: 1s;
    transition-delay: .3s; 
}

.pet:hover .preto {
    background-color: rgba(0, 0, 0, 0.7);
}

.preto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}


.pet img {
    position: relative;
    top: 50%;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: 1s;
}


.pet .descricao {
    position: relative;
    padding: 50px 20px;
    color: #fff;
    text-align: left;
    transition: 1s;
}


.descricao h2{
    font-size: 1rem;
}

.descricao h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 20px;
    
}

.descricao h4 {
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 400;
}

.descricao h4 a {
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(103, 68, 255);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 1s;
    font-weight: 800;
    letter-spacing: 1px;
}

.descricao h4 a:hover {
    background-color: rgb(51, 53, 185);
}

@media screen and (max-width: 768px) {


    .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 10.6vh;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 999;
      border-left: 1px solid black;
      padding: 0;
      justify-content: flex-start;
    }
    
    .nav-links.open {
      transform: translateX(0);
    }
    
    .hamburger {
      display: block;
      top: 20px;
      right: 20px;
    }
  }

  
.boas-vindas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
    width: 100%;
    text-align: center;
}

.boas-vindas img{
    width: 50%;
}

.boas-vindas p, .boas-vindas a {
    font-size: 2rem;
}

li .sair {
    font-size: 1.5vw;
    margin: 0;
    width: 100px;
    height: 50px;
    text-align: center;
}

.cadastrar-pet {
    margin-top: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form {
    padding: 50px 70px  !important;
}
